@charset "utf-8";
@media screen and (max-width: 1440px) {
    html {
        font-size: 15px;
    }

    .sec1 .lefteye .whiteeye,
    .sec1 .righteye .whiteeye {
        max-width: 80%;
        top: 35px;
        position: relative;
    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        max-width: 100px;
        top: 85px;
    }

    @keyframes eyes {
        from {
            transform: translateX(-55px);
            animation-delay: 2s;
        }

        to {
            transform: translateX(-170px);
        }

    }

    .sec1 .tagwrap .hashtag {
        max-width: 200px;
        max-height: 65px;
        font-size: 25px;
        line-height: 45px;
    }

    @keyframes down {
        0% {
            top: 0;
            opacity: 100;
        }

        80% {
            opacity: 40;
        }

        100% {
            top: 400px;
            opacity: 0;
            animation-duration: 2s;
        }
    }

    .sec2 .profilewrap {
        width: 90%;
        margin: 0 auto;
    }

    .sec3 .sec3inner {
        width: 95%;
    }

    .sec3 .webwrap img {
        width: 50%;
    }

}

@media screen and (max-width: 1200px) {
    .sec3 .webwrap .clickwrap {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1140px) {
    html {
        font-size: 14px;
    }

    .sec1 {
        max-width: 1140px;
        max-height: 700px;
    }

    .sec2,
    .sec3,
    .sec4,
    .sec5 {
        max-width: 1140px;
    }

    .sec1 .lefteye .whiteeye,
    .sec1 .righteye .whiteeye {
        max-width: 60%;
        top: 65px;
        position: relative;
    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        max-width: 80px;
        top: 100px;
    }

    @keyframes eyes {
        from {
            transform: translateX(-115px);
            animation-delay: 2s;
        }

        to {
            transform: translateX(-190px);
        }

    }

    .sec1 .tagwrap .hashtag {
        max-width: 200px;
        max-height: 65px;
        font-size: 25px;
        line-height: 45px;

    }

    @keyframes down {
        0% {
            top: 0;
            opacity: 100;
        }

        80% {
            opacity: 40;
        }

        100% {
            top: 400px;
            opacity: 0;
            animation-duration: 2s;
        }
    }

    .sec1 h1 {
        font-size: 70px;
        top: 100px;
    }

    .bigtitle {
        font-size: 45px;
    }


    .sec2 .imgwrap img {
        max-width: 300px;
        margin-top: 3rem;
    }


    .sec2 .left h2,
    .sec2 .left span,
    .sec2 .right h2 {
        font-size: 28px;
    }

    .sec2 .left h3,
    .sec2 .right h3 {
        font-size: 34px;
    }

    .sec2 .left h4,
    .sec2 .right h4 {
        font-size: 22px;
    }

    .sec3 .webwrap {
        flex-direction: column;
        align-items: center;
    }

    .sec3 .wrapinner>* {
        margin: 10rem 0 0;
    }

    .sec3 .sec3inner {
        width: 100%;
        text-align: center;
    }

    .sec3 .webwrap img {
        max-width: 900px;
    }

    .sec3 .webwrap .titleinner {
        order: 2;
    }

}


@media screen and (max-width: 735px) {
    .sec1 {
        position: relative;
    }

    .sec1 h1 {
        font-size: 50px;
    }

    .sec1 .lefteye .whiteeye,
    .sec1 .righteye .whiteeye {
        max-width: 80%;
        top: 60px;
        position: static;

    }

    /* .sec3 .webwrap {
        margin-top: -30px;
    } */

    .sec3 .webwrap .clickwrap {
        margin: 0 auto;
    }

    .sec3 .webwrap  .clickbtn {
        font-size: 23px;
        width: 80%;
        height: 90%;
        margin: 0 auto;
    }
    .sec3 .webwrap .clickbtn{
        width: 131px;
    }

    .slide1 {
        width: 100%;
    }

    .sec1 .eyes {
        position: absolute;
        display: flex;
        bottom: 50px;
        left: 60%;
        transform: translate(-50%);
    }

    .sec1 .lefteye,
    .sec1 .righteye {
        position: static;
    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        position: static;

    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        max-width: 60px;
        max-height: 60px;

    }

    @keyframes eyes {
        from {
            transform: translateX(-60px);
            animation-delay: 2s;
        }

        to {
            transform: translateX(-110px);
        }

    }

    .sec1 h1 {
        font-size: 40px;
        top: 60px;
    }

    .sec1 {
        height: 500px;
    }

    .sec1 .tagwrap .hashtag {
        max-width: 130px;
        max-height: 35px;
        font-size: 18px;
        line-height: 35px;
    }

    .skillsinner {
        max-width: 300px;
        display: flex;
        flex-wrap: wrap;
    }

    .sec2 {
        height: 1500px;
    }

    .sec2 .profilewrap {
        width: 50%;
        margin: 0 auto;
    }

    .sec2 .profilewrap {
        display: block;
    }

    .sec4 .detail-inner {
        display: block;
    }

    .sec4 .detail-inner img {
        /* width: 80%; */
        /* margin-left: 40px; */
    }

    .cardwrap {
        display: block;
        /* width: 100%; */
    }

    .slide1 .swiper-wrapper .swiper-slide img {
        width: 100%;
        object-fit: contain;
    }

    .sec5 h1 {
        font-size: 50px;
    }

    @keyframes down {
        0% {
            top: 0;
            opacity: 100;
        }

        80% {
            opacity: 40;
        }

        100% {
            top: 300px;
            opacity: 0;
            animation-duration: 2s;
        }
    }

}

@media screen and (max-width: 560px) {
    .sec3 .webwrap .clickwrap {
        flex-wrap: wrap;
    }

    .sec1 .lefteye .whiteeye,
    .sec1 .righteye .whiteeye {
        max-width: 60%;
        z-index: 100;


    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        max-width: 30%;
        max-height: 30px;
        z-index: 100;
        top: 10px;
        position: relative;
    }

    @keyframes eyes {
        from {
            transform: translateX(-25px);
            animation-delay: 2s;
        }

        to {
            transform: translateX(-60px);
        }

    }
}

@media screen and (max-width: 495px) {
    html {
        font-size: 12px;
    }

    .sec2 {
        height: 1100px;
    }

    .sec2 .left h2,
    .sec2 .left span,
    .sec2 .right h2 {
        font-size: 26px;
    }

    .gotop{
        width: 35px;
        height: 35px;
        line-height: 32px;
        font-size: 10px;
    }

    .sec2 .left h3,
    .sec2 .right h3 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .sec2 .right {
        margin: 30px 0;
    }

    .sec2 .right>* {
        height: auto;
        margin: 30px 0;
    }

    .sec1 {
        max-height: 350px;
    }

    .namewrap {
        flex-direction: column;
    }

    .sec2 .left h4,
    .sec2 .right h4 {
        font-size: 18px;
    }

    .sec1 h1::after {
        content: '';
        height: 20px;
    }

    .sec1 h1 {
        font-size: 30px;
        top: 75px;
    }

    .sec2 .profilewrap {
        width: 70%;
        text-align: center;
    }

    .sec2 .left {
        width: 100%;
    }

    .sec2 .imgwrap {
        width: 100%;
        text-align: center;
    }

    .sec2 .imgwrap img {
        width: 100%;
        max-width: 100%;
    }

    .sec2 .profilewrap {
        display: block;
    }

    .title {
        font-size: 26px;
    }

    .sec3 .wrapinner>* {
        margin: 5rem 0;
    }

    .sec3 .webwrap img {
        width: 70%;
    }

    .sec3 .webwrap .clickbtn {
        font-size: 16px;
    }

    .sec3 .webwrap .clickwrap {
        gap: 12px;
    }

    .sec5 h1 {
        font-size: 40px;
    }

    .slide1 {
        width: 100%;
        height: 200px;
    }

    .sec4 .detail-inner {
        width: 50%;
    }

    .slide2,
    .slide3 {
        width: 70%;
        margin: 20px auto;
    }

    .gotop {
        right: 20px;
    }

    .sec1 .lefteye .whiteeye,
    .sec1 .righteye .whiteeye {
        max-width: 60%;
        z-index: 100;

    }

    .sec1 .lefteye .blackeye,
    .sec1 .righteye .blackeye {
        max-width: 30%;
        max-height: 30px;
        z-index: 100;
    }

    @keyframes eyes {
        from {
            transform: translateX(-15px);
            animation-delay: 2s;
        }

        to {
            transform: translateX(-60px);
        }

    }

    .sec1 .tagwrap .hashtag {
        max-width: 100px;
        max-height: 25px;
        font-size: 13px;
        line-height: 25px;
    }

    @keyframes down {
        0% {
            top: 0;
            opacity: 100;
        }

        80% {
            opacity: 40;
        }

        100% {
            top: 220px;
            opacity: 0;
            animation-duration: 2s;
        }
    }

}